// Custom styles.
.post {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 10px rgba(255,215,0,.5);
	-ms-box-shadow: 0 0 10px rgba(255,215,0,.5);
	-moz-box-shadow: 0 0 10px rgba(255,215,0,.5);
	box-shadow: 0 0 10px rgba(255,215,0,.5);
}